<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include= "~{/fragments/head}"/>
    <title>Happy Travel</title>
</head>
<body>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">All Offers</h2>
    <div th:each="offer : ${offers.getContent()}"
         th:object="${offer}"
         class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <div class="card-img-top-wrapper">
                <img class="card-img-top" th:src="*{imageUrl}" alt="City image">
            </div>
            <div class="card-body pb-1">
                <h5 class="card-title">
                    <th:block> th:text="*{name}" </th:block>
                </h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span>• Overnight stays <th:block th:text="*{overnightStays}"></th:block> </span></div>
                    <div class="card-text"><span>• Price <th:block th:text="*{price}"></th:block></span></div>
                    <div class="card-text"><span>• Check in date <th:block th:text="*{checkInDate}"></th:block></span></div>
                    <div class="card-text"><span>• Return date <th:block th:text="*{returnDate}"></th:block> </span></div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" href="#" th:href="@{/offers/{offerId}(offerId=*{id})}">Details</a>
            </div>
        </div>
    </div>
</div>

<div>
    <footer> </footer>
</div>
</body>
</html>